.footer {
    display: none;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}

.title-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 12px;

    .title {
        margin-bottom: 0;
        color: #15a675;
        font-size: 14px;
        line-height: 22px;
    }

    img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
}

ul.timeline {
    list-style-type: none;
    position: relative;
    margin-left: 6px;

    .row {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 20px;
    }
}

ul.timeline>li:not(:last-child):after {
    content: ' ';
    background: #e4ebf1;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 12px;
    width: 2px;
    height: 100%;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #00aa72;
    left: 0px;
    top: 10px;
    width: 12px;
    height: 12px;
    z-index: 400;
}

.timeline .timeline-outer {

    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: #15a675;
        margin-bottom: 4px;
    }

    p {
        font-size: 12px;
        font-weight: normal;
        line-height: 2;
        color: #8493a2;
        padding:4px 0;
        margin-bottom:8px;

    }

    a {
        font-size: 14px;
        color: #00a971;
    }
}

.timeline-content {
    display: flex;
    padding: 20px 32px;
    border: solid 1px #e4ebf1;

    .timeline-list {
        flex: 1;

        h3 {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
            color: #3e464c;
            position: relative;
            padding-left: 20px;

        }

        .icon-arrow {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #324558;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;

            &.right {
                border-top: 6px solid transparent;
                border-left: 6px solid #324558;
                border-bottom: 6px solid transparent;
                margin-left: 3px;
            }
        }

        ul {
            list-style-type: disc;
            position: relative;
            padding-left: 40px;

            li {
                font-size: 14px;
                line-height: 1.71;
                color: #272b2f;
                margin-left: 15px;
                a {
                    color: #272b2f;
                    &:hover{
                        color: #15a675;
                    }
                }
            }
        }
    }
}



@media (min-width:760px) {
    .modal-dialog {
        max-width: 60%;
    }
}

@media (max-width:760px) {
    .timeline .row {
        flex-direction: column;
        border: none;
        padding-top: 0;

        .timeline-content {
            border: none;
            padding-top: 0;
        }
    }

    .timeline-list+.timeline-list {
        margin-top: 10px;
    }
}

.container .row .col-sm-7 h3{
    font-size: 14px;
    font-weight: 400;
}
.td-sidebar-section-title.content-index{
    display:none;
}

@media only screen and (max-width: 1023px) {
    .col-12.col-md-3.col-xl-3.td-sidebar.d-print-none.td-sidebar-menu{
        display:none;
    }
}