.autocomplete-suggestions {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d5dee7;
	background: #FFF;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05), 0 10px 20px 0 rgba(76, 94, 112, 0.05); 
}
.autocomplete-suggestion { 
	font-family: PingFangSC;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.2;
	letter-spacing: normal;
	color: #4a535c;
	padding-left: 1rem;
}

.autocomplete-suggestion:first-child{
	margin-top: 3px;
}

.autocomplete-no-suggestion { 
	padding: 2px 5px;
}
.autocomplete-selected { 
	background: #f5f9fa; 
}
.autocomplete-suggestions strong { 
	font-weight: bold; color: #000; 
}
.autocomplete-group {
	padding: 2px 5px; 
	font-weight: bold; 
	font-size: 16px; 
	color: #000; 
	display: block; 
	border-bottom: 1px solid #000; 
}
