<!doctype html>

<div id="td-sidebar-menu dd" class="td-sidebar__inner">



    <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">

        <div class="nav-item dropdown d-block d-lg-none">


            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                中文
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <a class="dropdown-item" href="/en/">English</a>

            </div>
        </div>

        <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">

            <div class="nav-item dropdown d-block d-lg-none">


                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    中文
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item" href="/en/">English</a>

                </div>
            </div>








            <ul class="td-sidebar-nav__section pr-md-3">
                <span class="parentNode td-sidebar-nav__section-title">
                    QingStor 文档
                </span>
                <ul class="nested">
                    <li class="collapse show" id="qingstor">






                        <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-guide"
                            href="/qingstor/guide/">控制台文档</a>





                        <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-developer-tools"
                            href="/qingstor/developer_tools/">开发者工具</a>





                        <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-data-process"
                            href="/qingstor/data_process/">数据处理</a>










                        <ul class="td-sidebar-nav__section pr-md-3">
                            <span class="parentNode td-sidebar-nav__section-title">
                                SDK 文档
                            </span>
                            <ul class="nested">
                                <li class="collapse " id="qingstor-sdk">











                                    <ul class="td-sidebar-nav__section pr-md-3">
                                        <span class="parentNode td-sidebar-nav__section-title">
                                            C/C++ SDK
                                        </span>
                                        <ul class="nested">
                                            <li class="collapse " id="qingstor-sdk-cpp">






                                                <a class="td-sidebar-link td-sidebar-link__page "
                                                    id="m-qingstor-sdk-cpp-qingstor-c-sdk"
                                                    href="/qingstor/sdk/cpp/qingstor_c_sdk/">C SDK</a>





                                                <a class="td-sidebar-link td-sidebar-link__page "
                                                    id="m-qingstor-sdk-cpp-qingstor-cpp-sdk"
                                                    href="/qingstor/sdk/cpp/qingstor_cpp_sdk/">C++ SDK</a>


                                            </li>
                                        </ul>
                                    </ul>






                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-java"
                                        href="/qingstor/sdk/java/">Java SDK</a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-js"
                                        href="/qingstor/sdk/js/"></a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-net"
                                        href="/qingstor/sdk/net/"></a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-php"
                                        href="/qingstor/sdk/php/"></a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-python"
                                        href="/qingstor/sdk/python/"></a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-ruby"
                                        href="/qingstor/sdk/ruby/"></a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-scala"
                                        href="/qingstor/sdk/scala/"></a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sdk-swift"
                                        href="/qingstor/sdk/swift/"></a>










                                    <ul class="td-sidebar-nav__section pr-md-3">
                                        <span class="parentNode td-sidebar-nav__section-title">
                                            Go SDK
                                        </span>
                                        <ul class="nested">
                                            <li class="collapse " id="qingstor-sdk-go">



                                            </li>
                                        </ul>
                                    </ul>



                                </li>
                            </ul>
                        </ul>






                        <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-sidebar"
                            href="/qingstor/sidebar/"></a>





                        <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-solutions"
                            href="/qingstor/solutions/"></a>





                        <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-third-party-integration"
                            href="/qingstor/third_party_integration/"></a>










                        <ul class="td-sidebar-nav__section pr-md-3">
                            <span class="parentNode td-sidebar-nav__section-title">
                                AWS S3 兼容
                            </span>
                            <ul class="nested">
                                <li class="collapse show" id="qingstor-s3">






                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-s3-instance"
                                        href="/qingstor/s3/instance/">Demo</a>





                                    <a class="td-sidebar-link td-sidebar-link__page  active" id="m-qingstor-s3-intro"
                                        href="/qingstor/s3/intro/">简介</a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-s3-compatible-apis"
                                        href="/qingstor/s3/compatible_apis/">兼容接口</a>





                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-qingstor-s3-examples"
                                        href="/qingstor/s3/examples/">使用示例</a>





                                    <a class="td-sidebar-link td-sidebar-link__page "
                                        id="m-qingstor-s3-compatible-headers"
                                        href="/qingstor/s3/compatible_headers/">兼容公共头</a>





                                    <a class="td-sidebar-link td-sidebar-link__page "
                                        id="m-qingstor-s3-compatible-tools"
                                        href="/qingstor/s3/compatible_tools/">兼容工具</a>


                                </li>
                            </ul>
                        </ul>



                    </li>
                </ul>
            </ul>

        </nav>
    </nav>
</div>