<div class="container is-size-7" style="justify-content: end;min-height: 25px;">
{{ if ne .Params.LinkTitle "Document"}}
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
{{ end }}
</div>

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
  {{ if not .p1.Parent.IsHome }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ end }}
{{ end }}
{{ if eq .p1 .p2 }}
	{{if eq .p1.LinkTitle "搜索"}}
	<a href="/" class="has-text-primary">Document</a><img class="container_span_space" src="/images/icons/path.svg">
	{{ end }}
<span class="has-text-grey">{{ .p1.LinkTitle }}</span>
{{ else}}
	
	{{if eq .p1.LinkTitle "Document"}}
		{{if ne .p1.Site.Params.IsConsole true}}
			<a href="/" class="has-text-primary">{{ .p1.LinkTitle }}</a><img class="container_span_space" src="/images/icons/path.svg">
		{{ end }}
	{{ else}}
	<a href="{{ .p1.RelPermalink }}" class="has-text-primary">{{ .p1.LinkTitle }}</a><img class="container_span_space" src="/images/icons/path.svg">
	{{ end }}

{{ end }}

{{ end }}