<div class="nav-wrapper {{ if eq .Params.LinkTitle "Document" }} nav-wrapper-index {{ end }}">
  <nav class="navbar navmenu" {{if eq .Site.Params.IsConsole true}} style="display:none;" {{end}}>
    <div class="container with-no-position {{ if and (ne .Params.LinkTitle "Document" ) (ne .Params.type "product" )}}doc-container-width {{ end }}">
      <div class="navbar-brand" id="search-mobile-logo">
        <a class="navbar-item logo" href="https://www.qingcloud.com">
          <img src="https://www.qingcloud.com/static/assets/images/icons/common/nav_logo_white.svg?v=1510299508" alt="logo" style="height: 32px;width: auto;">
        </a>
      </div>
      <div class="media-content column is-centered is-5 search-mobile">
        <form action="/search" method="GET">
          <div class="control has-icons-right docs-search-input">
            <input class="input" id="search-bar" name="q" type="search" placeholder="搜索" autocomplete="off">
            <span class="icon is-right" id="mobile-search">
              <img src="/images/icons/search.svg">
            </span>
          </div>
        </form>
        <a href="javascript:;" class="search-mobile-icon"><img src="/images/icons/search.svg"></a>
      </div>
      <div class="navbar-end is-hidden-mobile header-account">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="nav-item" href="https://docs.qingcloud.com">文档（旧版）</a>
            </p>
            <p class="control">
              <a class="nav-item" target="_blank" href="https://beian.qingcloud.com/icp">备案</a>
            </p>
            <p class="control navbar-user">
              <a class="nav-item" href="https://console.qingcloud.com">登录</a>
            </p>
            <div class="navbar-user">
              <a class="button is-primary j-signup" href="https://console.qingcloud.com/signup/" data-gio="{id:'createPageView',var:{sourceType_var:'导航栏'}}">注册</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{ if ne .Params.LinkTitle "Document"}}
  <nav class="navbar navmenu navbar-index">
    {{ partial "breadcrumb.html" . }}
  </nav>
  {{ end }}
</div>