<!doctype html>
<html exec=1 lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}">
    <header>
      {{ partial "navbar.html" . }}
	  	{{ with .Params.section1 }}
		<section class="hero is-dark home-body">
		<div class="slider-bg">
			<div class="home-banner-slider"></div>
		</div>
		<div class="hero-body hero-body-index">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-sm-6">
						<h1>{{ .title }}</h1>
						<h3>{{ .vice_title }}</h3>
					</div>
				</div>
			</div>
		</div>
		<section>
		{{ end }}
    </header>
    
      <main role="main" class="td-main">
		<section class="section is-grey-background section-out">
			<div class="container  td-outer">
				<div class="row" id="content">
					{{ $sections := .Sections.ByWeight }}
					{{ range $sections }}
					<div class="col-md-3">
						<div class="card">
							<div class="card-body">
							<div class="card-title"><img src="{{ .Params.icon }}" class="card-title-img">{{ .Params.title }}</div>
							{{ $page_list := (union (where .Pages ".Params._build.render" "!=" false) .Sections).ByWeight }}
							{{ $length := len $page_list}}
							{{ range first 5 $page_list }}
							<p class="card-text"><a href="{{ .RelPermalink }}" class="card-link">{{ .Params.title }}</a></p>
							{{ end }}
							</div>
						</div>
					</div>
					{{ end }}
					<script src="/js/index.js"></script>
				</div>
			</div>
		</section>
        {{ block "main" . }}{{ end }}
      </main>
      
    {{ partial "footer.html" . }}
    {{ partialCached "scripts.html" . }}
  </body>
</html>