<!doctype html>
<html exec=1 lang="{{ .Site.Language.Lang }}" class="no-js">

<head>
  {{ partial "head.html" . }}
</head>
{{ $has_private := 0 }}
{{ $sections := .Sections.ByWeight }}
{{ range $sections }}
{{ if .Params.isPrivate }}
    {{ $has_private = 1 }}
{{ end }}
{{ end }}          
<body class="td-{{ .Kind }}">
  <header>
    {{ partial "navbar.html" . }}
    {{ with .Params.section1 }}
    <section class="hero is-dark home-body">
      <div class="slider-bg">
        <div class="home-banner-slider"></div>
      </div>
      <div class="hero-body hero-body-index">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-sm-6">
              <h1>{{ .title }}</h1>
              <h3>{{ .vice_title }}</h3>
            </div>
          </div>
        </div>
      </div>
      {{ if $has_private }}
      <div class="nav-link" id="nav-link-box">
        <a href="#public" class="active">公有云服务</a>
        <a href="#private">私有云服务</a>
      </div>
      {{end}}      
      <section>
        {{ end }}
  </header>

  <main role="main" class="td-main">
    <section class="section is-grey-background section-out container-min-height section-has-title" id="public">
      <div class="container  td-outer">
        <div class="section-title">
          <!--
            <img src="/images/public-img.png" />
          -->
          <span>公有云服务</span>
        </div>
        <div class="row" id="content">
          {{ $sections := .Sections.ByWeight }}
          {{ range $sections }}
          {{ if not .Params.isPrivate }}
          {{ if not .Params.not_show}}
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <div class="card-title"><img src="{{ .Params.icon }}" class="card-title-img">{{ .Params.title }}</div>
                {{ $page_list := (union (where .Pages ".Params._build.render" "!=" false) .Sections).ByWeight }}
                {{ $length := len $page_list}}
                {{ range $page_list }}
                <p class="card-text"><a href="{{ .RelPermalink }}" class="card-link">{{ .Params.title }}</a></p>
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          {{ end }}
          <script src="/js/index.js"></script>
        </div>
      </div>
    </section>
    {{ if $has_private }}
    <section class="section is-grey-background section-out container-min-height section-has-title has-bg" id="private">
      <div class="container  td-outer">
        <div class="section-title">
          <!--
            <img src="/images/private-img.png" />
          -->
          <span class="white">私有云产品</span>
        </div>
        <div class="row" id="content1">
          {{ $sections := .Sections.ByWeight }}
          {{ range $sections }}
          {{if .Params.isPrivate }}
          {{ if not .Params.not_show}}
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <div class="card-title card-title_private"><img src="{{ .Params.icon }}" class="card-title-img">{{ .Params.title }}</div>
                {{if .Params.section1}}
                    {{ with .Params.section1 }}
                    {{ range .children }}
                    <p class="card-text"><a href="{{ .url }}" class="card-link">{{ .title }}</a></p>
                    {{ end }}
                    {{ end }}
                {{else}}
                    {{ $page_list := (union (where .Pages ".Params._build.render" "!=" false) .Sections).ByWeight }}
                    {{ $length := len $page_list}}
                    {{ range $page_list }}
                    <p class="card-text"><a href="{{ .RelPermalink }}" class="card-link">{{ .Params.title }}</a></p>
                    {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
    {{end}}
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  {{ partialCached "scripts.html" . }}
</body>

</html>