//
// Left side navigation
//
.td-sidebar-nav {

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            max-height: calc(100vh - 10rem);
            overflow-y: auto;
        }
    }


    @include media-breakpoint-up(md) {
        display: block !important;
    }

    li {
        list-style: none;
    }
    ul.td-sidebar-nav__section > ul > li > ul > span.parentNode {
        font-weight: 500;
    }
    ul.nested > li > ul.td-sidebar-nav__section {
        margin-bottom: 1rem;
    }

    ul.nested > li.collapse > a {
        font-size: 14px !important;
    }

    span.td-sidebar-nav__section-title{
        position: relative;
        font-size: 14px;
        color: #3e464c;

        &:hover {
            color: #00a972;
            cursor: pointer;
        }

        span.fa {
            display: block;
            position: absolute;
            left: -14px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        &.show {
            position: relative;
            background-position: left center;
            background-size: 12px 12px;
            background-repeat: no-repeat;

            span.fa {
                display: block;
                
            }
        }
    }

    &__section {
        
        li {
            list-style: none;
            margin: 8px 0;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        @include media-breakpoint-up(md) {
            & > ul {
                padding-left: .5rem;
            }
        }


        padding-left: 0;
    }

    &__section-title {
        display: block;
        font-weight: $font-weight-medium;

        .active {
            font-weight: $font-weight-bold;
        }

        a {
            color: $gray-900;
        }
    }

    .td-sidebar-link {
        display: block;
        padding-bottom: 0.375rem;

        &__page {
            color: #3e464c;
            font-weight: 500;
        }
    }

    a {
        &:hover {
            color: #00a972;
            text-decoration: none;
        }

        &.active {
            color: #00a972;
        }
    }

    .dropdown {
        // a {
        //     color: $gray-700;
        // }

        .nav-link {
             padding: 0 0 1rem;
        }
    }
}

.td-sidebar {

    @include media-breakpoint-up(md) {
        //padding-top: 1rem;
        padding-right: 1rem;
        margin-top: 4px;
        position: sticky;
        top: 4px;
        height: calc(100% - 6rem);
    }

    &__toggle {
        line-height: 1;
        color: $gray-900;
        margin: 1rem;
    }

    &__search {
        padding: 1rem 15px;
        margin-right: -15px;
        margin-left: -15px;
    }

    &__inner {
        order: 0;

        @include media-breakpoint-up(md) {
            @supports (position: sticky) {
                //position: sticky;
                top: 4rem;
                z-index: 10;
                //height: calc(100vh - 6rem);
                background-color: rgba(237, 242, 244, 0.69);
                //height: auto;
                padding-bottom: 30px;
            }
        }


        @include media-breakpoint-up(xl) {
            flex: 0 1 320px;
        }


        .td-search-box {
            width: 100%;
        }
    }

    .more-space{
       height: auto;
    }
}
.td-sidebar-section-title {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    .doc_vice_title{
        margin-bottom: 0;
        padding-left: 10px;
    }
}
.doc_vice_title{
    padding-left: 10px;
    margin-bottom:0;
}

@media only screen and (max-width: 1023px) {
    #mobile-index-tree{
        
    }
    .col-12.col-md-3.col-xl-3.td-sidebar.d-print-none.td-sidebar-menu{
        max-width: 92%;
        position: absolute;
        z-index: 1000;
        background-color: #f6f8fa;
        margin-top: 3.5rem;
        left: 4%;
    }
}