// Override default style

.hero-body {
    display: flex;
    position: relative;
    padding: 38px 0;
    height: 220px;
    align-items: center;
    background-color: #3d3e49;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    h1 {
        font-size: 2rem;
        color: #fff;
    }
    .product-video {
        max-width: 240px;
        height: auto;
        align-self: flex-end;
        display: block;
    }
}
#right-nav-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999;
    top: 0px;
    transform: translateX(100vw);
    // display: none;
    // transition: all 0.5s ease;
    .content-block {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100%;
        background: #fff;
        padding: 30px;
        overflow: auto; 
        transform: translateX(100vw);
        transition: all 0.5s ease;
        .slider-title {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 20px;
            color: #3e464c;
            a {
                color: #3e464c;
            }
        }
    }
}
section.is-grey-background {
    background-color: #f5f9fa;
}
main section {
    &:first-of-type {
        padding-top: 60px;
    }
    padding-top: 30px;
    padding-bottom: 60px;
}
header {
    min-height: 78px;
    position: relative;
    nav {
        min-height: 64px;
    }
}
.title-wrapper {
    display: flex;
    color: #3e464c;
    align-items: center;
    margin-bottom: 30px;

    h1 {
        font-size: 28px;
        font-weight: normal;
        color: #3f464d;
        line-height: normal;
        letter-spacing: 0.65px;
        margin: 0;
        padding-left: 1rem;
    }
}

.card {
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05),
        0 10px 20px 0 rgba(76, 94, 112, 0.05);
    border: none;
    position: relative;
    transform: 0.8s linear;
    cursor: pointer;

    &:hover {
        .play-btn {
            opacity: 1;
            transform: scale(1.2);
        }
    }

    .card-body {
        padding: 0;
        min-height: 200px;

        .card-title {
            font-size: 18px;
            font-weight: 500;
            color: #3e464c;
            margin-bottom: 24px;
        }
        .card-title_private {
            font-size: 14px;
        }
        .card-text {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.71;
            color: #68747f;
            margin-bottom: 13px;
        }
        .card-text:last-child {
            margin-bottom: 24px;
        }
        .card-link {
            margin-left: 2rem;
            font-size: 14px;
            color: #68747f;
            &:hover {
                color: #00a870;
            }
        }
    }
    .pdf-download-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 14px;
        color: #68747f;
        &:hover {
            color: #00a870;
        }
        i {
            padding-right: 6px;
        }
    }

    // 视频专区
    .play-btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 50%;
        box-sizing: border-box;
        opacity: 0.5;
        text-align: center;
        line-height: 30px;
    }

    .play-btn-subscript {
        display: inline-block;
        margin-left: 2px;
        border-width: 6px 0 6px 6px;
        border-style: solid;
        border-color: transparent transparent transparent #443d4e;
    }

    .adjust_p {
        color: #ffffff;
        font-style: normal;
        font-weight: 500;
        font-family: PingFang SC;
        text-align: center;
    }

    .video_title {
        position: absolute;
        margin: 30px 0 0 16px;
        font-size: 18px;
        line-height: 24px;
    }

    .time_duration {
        position: absolute;
        margin-left: 18px;
        bottom: 15.2%;
        margin-bottom: 0;
        font-family: Roboto;
        font-size: 12px;
        line-height: 14px;
    }
}

/* 超一行显示省略号 */
.textline-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 超二行显示省略号 */
.textline-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.video_bottom {
    margin: 10px 18px 0 18px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.bg-black {
    background-color: black;
}

// 批量下载pdf
.pdf-all-download-btn {
    position: absolute;
    right: 1rem;
    color: #68747f;
    &:hover {
        color: #00a870;
    }
    i {
        padding-right: 6px;
    }
}

ul.timeline {
    list-style-type: none;
}
.timeline-outer-line {
    content: ' ';
    background: #dee0e6;
    display: inline-block;
    position: absolute;
    left: -5px;
    top: 1.5rem;
    width: 1px;
    height: calc(100% + 2rem);
    // z-index: 400;
}
.timeline-outer-line.timeline-product {
    left: 0;
}

ul.timeline > li:last-child .timeline-outer-line {
    display: none;
}
ul.timeline > li {
    margin: 30px 0 0 35px;
    position: relative;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #00a971;
    background-color: #86dba2;
    left: -10px;
    width: 10px;
    height: 10px;
    margin-top: 1.5rem;
    z-index: 400;
}

.timeline .timeline-outer {
    margin-top: 1rem;

    h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #1d2c39;

        span {
            height: 12px;
            font-size: 12px;
            color: white;
            padding: 0.25rem;
        }
        .news-tag-0 {
            margin-left: 0.25rem;
            background: #595657;
            border-radius: 3px 0px 0px 3px;
        }
        .news-tag-1 {
            background: #888888;
        }
        .news-tag-2 {
            background: #b4b4b7;
            border-radius: 0px 3px 3px 0px;
        }
        .news-tag-max {
            border-radius: 0px 3px 3px 0px;
        }
    }
    p {
        color: #8493a2;
        font-size: 12px;
        line-height: 20px;
    }
}
.timeline-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    background-image: url(/images/section/learn-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #f5f9fa;

    .timeline-list {
        ul {
            list-style-type: none;
            position: relative;
            padding-left: 1rem;

            li {
                font-size: 14px;
                position: relative;
                color: #324558;
                line-height: 2;

                &:before {
                    content: ' ';
                    position: absolute;
                    background-color: #00a971;
                    width: 8px;
                    height: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -14px;
                    border-radius: 1px;
                    -webkit-border-radius: 1px;
                    -moz-border-radius: 1px;
                    -ms-border-radius: 1px;
                    -o-border-radius: 1px;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }
            }
        }
        .icon-arrow {
            display: none;
        }
    }
}

.timeline-back-img-1 {
    background-image: url(/images/section/timeline-bg-1.svg);
}
.timeline-back-img-2 {
    background-image: url(/images/section/timeline-bg-2.svg);
}
.timeline-back-img-3 {
    background-image: url(/images/section/timeline-bg-3.svg);
}
.timeline-back-img-4 {
    background-image: url(/images/section/timeline-bg-4.svg);
}
.timeline-back-img-5 {
    background-image: url(/images/section/timeline-bg-5.svg);
}

.td-main {
    main {
        position: relative;
        padding-left: 2.5rem;
        padding-top: 1rem;
        padding-right: 3rem;
        margin-top: 2rem;

        .td-page-top {
            position: relative;

            .page-meta-actions {
                position: absolute;
                right: 0;
                top: 0;

                a {
                    font-size: 14px;
                    color: #3f5264;
                    line-height: 1.71;
                    margin-left: 12px;
                    &:hover {
                        color: #00a870;
                    }
                    i {
                        font-size: 11px;
                        color: #68747f;
                    }
                }
            }
        }
    }
    .td-sidebar {
        .td-sidebar-nav {
            overflow-x: hidden;

            .td-sidebar-link {
                font-size: 14px;
                line-height: 1.71;
            }
            .nested {
                .td-sidebar-link {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 1.67;
                }
            }
        }
    }
    .td-content {
        position: relative;
        overflow: auto;
        .p code {
            color: #ff3860;
        }
    }
    .has-bg {
        background-image: url('/images/mask.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section-has-title {
        padding-top: 33px;
        .section-title {
            margin-bottom: 18px;
            font-size: 1.75rem;
            color: #3e464c;
            img {
                margin-right: 1rem;
            }
            span {
                &.white {
                    color: white;
                }
            }
        }
    }
}

/* footer style */
footer {
    display: block;
    .footer-beian {
        display: flex;
        align-items: center;
        text-align: center;
    }
}
footer.footer {
    background-color: #3d3e49;
    line-height: 1.875rem;
    padding-top: 6.25rem;
    padding-bottom: 1.875rem;
    bottom: 0;
}

footer.footer .menu .menu-label {
    margin: 0 0 0.5rem 0;
    line-height: 1rem;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer.footer .menu .menu-list {
    margin-left: 0;
    display: flex;
    flex-flow: column wrap;
    padding-left: 0;
}

footer.footer .menu .menu-list li {
    line-height: 1.1rem;
    list-style: none;
}

footer.footer .menu .menu-list a {
    font-size: 12px;
    text-align: left;
    color: #d3d3db;
    opacity: 1;
    padding-left: 0;
    white-space: nowrap;
}

footer.footer .menu .menu-list a:hover {
    background: none;
    opacity: 1;
    color: #fff;
}

footer.footer .level {
    align-items: baseline;
}

footer.footer a {
    color: #fff;
    opacity: 0.5;
    font-size: 0.875rem;
}

footer.footer a:hover {
    opacity: 1;
}

footer.footer .copyright {
    text-align: center;
    margin: 0 0 50px 0;
}
footer.footer .level-right .menu-list,
footer.footer .menu .level-left + .level-right {
    margin-top: 0;
}

footer.footer .copyright figcaption {
    font-size: 0.875rem;
    color: #d3d3db;
    font-style: normal;
}

footer.footer .license {
    text-align: center;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

footer.footer .license img {
    vertical-align: text-bottom;
    margin: 0 0.4rem;
}

footer.footer .icon {
    vertical-align: middle;
    margin-right: 4px;
}

footer.footer .menu-img {
    display: flex;
    align-items: center;
}

footer.footer .qc-wechat-qrcode figure img {
    width: 63px;
    height: auto;
    margin-right: 18px;
}

footer.footer span.tel {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0.5em 0;
    display: inline-block;
}

.icon.icon-email {
    background: transparent 0 0 no-repeat;
    background-image: url('https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_mail@3x.svg');
}

.icon.icon-weibo {
    background: transparent 0 0 no-repeat;
    background-image: url('https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_weibo@3x.svg');
}

.icon.icon-wechat {
    background: transparent 0 0 no-repeat;
    background-image: url('https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_wechat@3x.svg');
}

.icon.icon-tel {
    background: transparent 0 0 no-repeat;
    background-image: url('https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_phone@3x.svg');
}

.icon.icon-contact {
    background: transparent 0 0 no-repeat;
    background-image: url('https://s3.qingcloud.com/static/assets/images/icons/common/footer_icon_contact.svg');
}

.page-meta-pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 19px;

    a {
        font-size: 14px;
        color: #3f5264;

        &:hover {
            color: #00a971;
        }
    }
}
.new-main-block {
    position: relative;
    overflow:visible;
    #slider-menu-block {
        padding-top: 30px;
        position: sticky;
        top: 4px;
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
        .slider-title {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #3e464c;
            margin-bottom: 20px;
            cursor: pointer;
            &:hover {
                color: #00a870;
            }
            a {
                color: #3e464c;
                &:hover {
                    color: #00a870;
                }
            }
            .active-slider-title {
                color: #00a870;
            }
        }
    }

    #mobile-slider-menu-block-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 9;
        .mobile-slider-menu-title {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #00aa72;
            display: flex;
            align-items: center;
        }
        .mobile-slider-menu-block-nav-icon {
            cursor: pointer;
            color: #00aa72;
            width: 13.33px;
            height: 12px;
            margin-left: 5px;
        }
        .current-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
        }
    }

    .moblie-slider-menu-scroll-nav {
        padding: 12px 19px;
        background: #fff;
        box-sizing: border-box;
        width: 100vw;
        margin-left: -1.8rem;
        margin-right: -1.8rem;
    }

    .new-card-block {
        .card-title {
            margin-left: -15px;
        }
      
        .new-card {
            background: #fff;
            padding: 20px;
            padding-left: 5px;
            padding-bottom: 0px;

            .col-md-3 {
                margin-bottom: 0;
            }
            

            .card-text {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #595657;
                cursor: pointer;
                padding-bottom: 20px !important;
                &:hover {
                    color: #00a870;
                }
            }

            a {
                color: #595657;

                &:hover {
                    color: #00a870;
                }
            }

            .card-title-img {
                width: 32px;
            }
        }
        #unfold,
        #fold {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            // width: 100%;
            color: #00aa72;
            background: #fff;
            margin-right: -15px;
            margin-left: -15px;
            padding-bottom: 10px;
        }
        .active-new-card {
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 2px;
                background: #00aa72;
                top: 0;
                left: 0;
            }
        }
        .card-title {
            margin-top: 18px;
        }
    }
}

.menu__title {
    cursor: pointer;
    position: relative;
    word-break: break-word;
    font-size: 0.925rem;
    color: #3e464c;
    height: 24px;
    margin: 0.25rem 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: inherit !important;
}

span.menu__title[data-depth='0'] {
    font-weight: 500;
}

.menu__title[data-depth='1'] {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #3e464c;
    margin-left: 0.35rem;
    margin-right: 5px;
    margin-bottom: 8px;
}

.menu__title[data-depth='2'] {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #939ea9;
    margin-left: 0;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
}

.menu__title[data-depth='3'] {
    font-size: 12px;
    margin-left: 0.2rem;
    line-height: 1;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.menu__title[data-depth='4'] {
    font-size: 0.925rem;
    margin-left: 5rem;
}

.menu__title--collapse {
    position: relative;
    color: #3e464c;
    cursor: pointer;
    word-break: break-word;
    font-size: 13px;
    padding-left: 18px;
    height: 24px;
    margin: 0.25rem 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

span.menu__title--collapse[data-depth='0'] {
    font-weight: 500;
}

.menu__title--collapse[data-depth='2'] {
    padding-left: 0;
    margin-left: 0.35rem;

    .menu__title--icon {
        left: -18px;
    }
}

.menu__title--collapse[data-depth='1'] {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #3e464c;
}

.menu__title--collapse[data-depth='3'] {
    font-size: 12px;
    margin-left: 0;
}

.menu__title--collapse[data-depth='4'] {
    font-size: 12px;
    margin-left: 0;
}

.menu__title--collapse.active svg {
    color: #aed581;
}

.menu__title--collapse.active svg {
    color: #00a971;
}

.menu__title--collapse:hover,
.menu__title--collapse:active,
.menu__title--collapse:focus {
    color: #ff6188;
}

.menu__title--collapse:hover svg,
.menu__title--collapse:active svg,
.menu__title--collapse:focus svg {
    color: #ff6188;
    -webkit-transform: translateX(0.125rem);
    -moz-transform: translateX(0.125rem);
    -ms-transform: translateX(0.125rem);
    transform: translateX(0.125rem);
}

.menu__title--collapse:hover,
.menu__title--collapse:active,
.menu__title--collapse:focus {
    color: #00a971;
}

.menu__title--collapse:hover svg,
.menu__title--collapse:active svg,
.menu__title--collapse:focus svg {
    color: #00a971;
    -webkit-transform: translateX(0.125rem);
    -moz-transform: translateX(0.125rem);
    -ms-transform: translateX(0.125rem);
    transform: translateX(0.125rem);
}

.menu__title--icon {
    position: absolute;
    top: 8px;
    width: 0;
    height: 0;
    content: '';
    left: 0;
    display: inline-block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #aeb8c1;
    //transform: rotate(-45deg);
    //-webkit-transform: rotate(-45deg);
}

.menu__title--icon.down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -o-transform: rotate(90deg);
}

.menu__title--icon.downrtl {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.menu__title--icon.right {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.menu__title--icon svg {
    display: block;
    margin: auto 0;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.menu__alone {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu__list {
    max-height: 0;
    margin: 0 auto;
    padding-left: 20px;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu__list li {
    //margin-left: 1.1rem;
    list-style: none;

    a {
        font-size: 14px;
    }
}

.menu .active {
    max-height: 100%;
}

.menu li.active a {
    font-weight: 700;
}

.menu li.active a {
    font-weight: 700;
}

.container_span_space {
    padding-left: 3px;
    padding-right: 3px;
}

.page-meta-pagination_word {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    padding-top: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #3f5264;
}

.doc_fix_click {
    padding-left: 1.75rem;
    cursor: pointer;
}

.product_dynamics {
    &:first-of-type {
        padding-top: 0px;
    }
    padding-left: 0px;
    padding-top: 0px;
}

ul.product_dynamics_ul:before {
    left: 0px;
}
ul.product_dynamics_ul > li:before {
    left: -4px;
}
ul.product_dynamics_ul > li {
    margin: 30px 0 0 5px;
}
.timeline-outer > a {
    font-size: 14px;
}
ul.product_dynamics_ul {
    margin-top: -2rem;
}
.timeline .timeline-outer .product_dynamics_p {
    font-size: 14px;
    line-height: 24px;
    color: #68747f;
}
.field.has-addons.has-addons-centered.select-field {
    padding-top: 1rem;
    margin-bottom: 0;
}

.display-hide {
    display: none;
}

.product-video {
    display: block;
    width: 100%;
}

// 关闭按钮的样式
.video-close {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    width: 24px;
    height: 24px;
    right: 0.6rem;
    top: 0.5rem;
    caret-color: transparent;
}

.video-close::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
    top: calc(50% - 0.45vw);
    left: 50%;
}

.video-close:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 20px;
    background: #ffffff;
    transform: rotate(-45deg);
    top: calc(50% - 0.45vw);
    left: 50%;
}

section.hero.home-body {
    padding-top: 0;
}
.slider-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.home-banner-slider {
    background-image: url(/images/hero.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
}
.hero-body-index {
    z-index: 1;
    background-color: transparent;
    margin-top: 76px;
}

.container.td-outer {
    z-index: 1;
}
.card-body .card-title {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 1rem;
}
.card-title-img {
    margin-right: 10px;
    width: 32px;
}

.card-body-product {
    padding: 54px 40px 30px;
    min-height: 200px;

    .card-title {
        font-size: 18px;
        font-weight: 500;
        color: #3e464c;
    }
    .card-text {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        color: #68747f;
        margin-bottom: 13px;
    }
    .card-link {
        font-size: 14px;
        color: #00a870;
    }
}

.timeline-list-a {
    color: #68747f;
    &:hover {
        color: #00a870;
    }
}
.td-page-top h1 {
    width: 80%;
}

.row .col-sm-6 h1 {
    margin-bottom: 1rem;
}
.row .col-sm-6 h3 {
    font-weight: 400;
}
.row .col-sm-7 h1 {
    margin-top: 20px;
    margin-bottom: 1rem;
}
.row .col-sm-7 h3 {
    font-weight: 400;
    line-height: 1.4;
    font-size: 15px;
}

.section-out .container .row .col-md-3 {
    padding-bottom: 2rem;
}

#myModal {
    max-height: 100vh;
    overflow-y: hidden;
}

#myModal .modal-dialog {
    top: 17%;
}

#myModal .video-modal-dialog {
    width: 700px;
    height: 500px;

    .video-modal-content {
        height: 500px;
        width: 700px;
    }
}

.hero-body-product {
    height: 180px;
}

.row .col-sm-4 {
    margin-bottom: 2rem;
}

main.col-12.col-md-7.col-xl-7 {
    max-width: 68.5%;
    flex: 0 0 68.5%;
}

@media (min-width: 1200px) {
    .doc-container-width {
        max-width: 1920px;
    }
    .nav-container {
        max-width: 1920px;
    }
    main.col-12.col-md-7.col-xl-7 {
        max-width: 68.5%;
        flex: 0 0 68.5%;
    }
}

@media (min-width: 1024px){
    #mobile-slider-menu-block-nav {
        display: none !important;
    }
}

@media (max-width : 300px) and (max-width : 1024px){
    #mobile-slider-menu-block-nav {
        display: flex !important;
    }
}

@media (max-width: 1440px) {
    .nav-container {
        max-width: 1920px;
    }

    .col-12.col-md-3.col-xl-3.td-sidebar.d-print-none {
        max-width: 280px;
        flex-shrink: 0;
    }
    main.col-12.col-md-7.col-xl-7 {
        max-width: 63.3333333333%;
        flex: 0 0 63.3333333333%;
    }
}

.product-learn-icon {
    display: none;
}

@media only screen and (max-width: 1023px) {
    .hero-body-product {
        height: auto;
        padding-top: 0;
    }
    .hero-body-index {
        margin-top: 0;
    }

    .product-learn-icon {
        display: inline;
        margin-right: 5px;
    }

    .mobile-hide {
        display: none;
    }

    .timeline-content .timeline-list ul {
        margin-left: 30px;
    }

    footer {
        display: none;
    }
    .timeline-content {
        padding: 15px;
    }
    .row .col-sm-4 {
        margin-bottom: 0.5rem;
    }
    .col-12.col-md-3.col-xl-3.td-sidebar.d-print-none {
        display: none;
    }
    main.col-12.col-md-7.col-xl-7 {
        max-width: 100%;
        flex: 100%;
    }
    .td-main main .td-page-top .page-meta-actions {
        display: none;
    }
    .td-main main {
        margin-top: 0;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .td-sidebar-section-title.content-index {
        margin-bottom: 1rem;
        h3 {
            font-size: 18px;
        }
    }

    .td-sidebar-section-title .nav-trigger {
        position: relative;
        top: 0px;
        left: 10px;
        height: 2.25rem;
        width: 2.25rem;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        color: transparent;
        z-index: 1000;
    }

    .td-sidebar-section-title .nav-trigger span,
    .td-sidebar-section-title .nav-trigger span::after,
    .td-sidebar-section-title .nav-trigger span::before {
        position: absolute;
        background-color: #393a45;
        height: 2px;
        width: 18px;
    }

    .td-sidebar-section-title .nav-trigger span {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }

    .td-sidebar-section-title .nav-trigger span::after,
    .td-sidebar-section-title .nav-trigger span::before {
        content: '';
        left: 0;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    .td-sidebar-section-title .nav-trigger span::before {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    .td-sidebar-section-title .nav-trigger span::after {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

.container-min-height {
    min-height: 60vh;
}

.col-12.col-md-3.col-xl-3.td-sidebar.d-print-none {
    max-width: 280px;
}



.fix-background-like {
    background-image: url(/images/icons/like.svg);
    background-repeat: no-repeat;
    background-position: 20% 20%;
}

.fix-background-unlike {
    background-image: url(/images/icons/Point-out.svg);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 65%;
    margin-left: 1.5rem;
}

.td-sidebar-section-title.content-index {
    display: none;
}

@media only screen and (max-width: 1023px) {
    #slider-menu-block {
        display: none;
    }

    .new-card-block .card-title {
        background: #fff;
        margin-bottom: 0px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 12px 22px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    ul.timeline > li {
        margin: 0 0 0 1.5rem;
    }
    .title-wrapper {
        margin-bottom: 20px;
    }
    .timeline .timeline-outer h2 {
        font-weight: 600;
    }
    main section:first-of-type {
        padding-top: 20px;
    }
    .td-sidebar-section-title.content-index {
        display: flex;
    }
}

main .td-content table,
tr,
td,
th,
tbody,
thead {
    page-break-inside: avoid !important;
}

main .td-content thead {
    display: table-row-group;
}

.nav-item a.menu__title[data-depth='0'] {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    padding-left: 18px;
    margin: 0.25rem 0;
}

.hero .nav-link {
    z-index: 2;
    height: 38px;
    padding: 0;
    text-align: center;
    margin-top: -34px;
    a {
        padding: 0 20px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        font-size: 1rem;
        &:first-child {
            margin-right: 5rem;
        }
        &.active {
            color: #00a971;
            border-color: #00a971;
        }
    }
}

footer {
    padding-top: 3.75rem !important;
    .logo-block {
        min-width: 200px;
        max-width: 200px;
        padding: 12px 5px;
        margin-right: 70px;
        figcaption {
            font-size: 0.875rem;
            color: #d3d3db;
            font-style: normal;
        }
    }
    .column {
        padding: 12px 5px;
    }

    .column-block {
        justify-content: space-between;
    }
    .contact-block {
        .icon {
            vertical-align: middle;
            margin-right: 4px;
        }
        .icon-tel-new {
            background: transparent 0 0 no-repeat;
            background-image: url(https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_phone.svg);
        }
        .is-small {
            height: 1rem;
            width: 1rem;
        }
        .icon-contact {
            background: transparent 0 0 no-repeat;
            background-image: url(https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_contact.svg);
        }
        .icon-email-new {
            background: transparent 0 0 no-repeat;
            background-image: url(https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_mail.svg);
        }
    }
    .wechat-block {
        .content {
            margin-bottom: 10px;
            p {
                display: flex;
                align-items: center;
                font-size: 12px;
                line-height: 17px;
                margin-bottom: 4px;
                color: #d3d3db;
            }
            .icon {
                width: 9px;
                height: 11px;
                vertical-align: middle;
                margin-right: 4px;
            }
        }
        .qc-wechat-qrcode {
            display: flex;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(196, 196, 196, 0.1);
        }

        figure {
            img {
                width: 60px;
                height: auto;
            }
            &:first-child {
                img {
                    margin-right: 25px;
                }
            }
        }

        .menu {
            font-size: 1rem;
            .menu-label {
                margin: 0 0 0.5rem 0;
                line-height: 1rem;
                font-size: 14px;
                white-space: nowrap;
                font-weight: 500;
                text-align: left;
                color: #ffffff;
            }
            .menu-list {
                margin-left: 0;
                display: flex;
                flex-flow: column wrap;
            }
            li {
                line-height: 1.1rem;
                list-style: none;
            }
            a {
                font-size: 12px;
                text-align: left;
                color: #d3d3db;
                opacity: 1;
                padding-left: 0;
                white-space: nowrap;
            }
            .tel {
                color: #fff;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 1px;
                padding: 0.5em 0;
                display: inline-block;
            }
        }
        .icon {
            width: 9px;
            height: 11px;
        }
        .icon-scan {
            background: transparent 0 0 no-repeat;
            background-image: url(https://www.qingcloud.com/static/assets/images/icons/common/footer_icon_scan.svg);
        }
    }
    .row-block {
        border-top: 1px solid rgba(196, 196, 196, 0.1);
        border-bottom: 1px solid rgba(196, 196, 196, 0.1);
        padding: 16px 0;
        margin: -12px 0 30px 0;
        .menu {
            display: flex;
            align-items: center;
        }
        .menu-label {
            width: 120px;
            margin-bottom: 0px !important;
        }
        .menu-list {
            margin-left: 0;
            display: flex;
            flex: 1;
            flex-flow: row wrap !important;
            margin-bottom: 0px;
            li {
                min-width: 100px;
                width: 12.5%;
                font-size: 12px;
            }
            a {
                opacity: 1;
                color: #92929e;
                word-break: keep-all;
                white-space: nowrap;
                padding: 4px 0;
                opacity: 0.5 !important;
                display: inline-block;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
