<div class="td-content">
<div class="td-page-top">
	<h1>{{ .Title }}</h1>
	{{ partial "page-meta-actions.html" .}}
</div>
	<div class="page-meta-lastmod text-muted ">{{ partial "page-meta-lastmod.html" . }}</div>

	<!-- {{ partial "page-meta-actions.html" .}} -->
    <!--{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}-->
	{{ with .Params.description }}<div class="lead"></div>{{ end }}
	{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
        {{ partial "reading-time.html" . }}
    {{ end }}

	{{with .Params.product}}
		<section class="product_dynamics"> 
		   <div class="container  td-outer product_dynamics"> 
			<div class=""> 
			 <ul class="timeline product_dynamics_ul" id="learn_content"> 
			 {{ range . }}
			  <li class="row">
			   <div class="timeline-outer-line"></div>
			   <div class="col-sm-12 timeline-outer">
				<p>{{ .time }}</p>
				<h2>{{ .title }}</h2>
				<p class="product_dynamics_p">{{ .content }}</p>
				<a href="{{ .url }}" target="blank">查看相关文档 <img src="/images/icons/black.svg"></a>
			   </div>
			   </li>
			   {{ end }}
			 </ul> 
			</div> 
		   </div> 
		</section>
	{{ end }}
	{{ .Content }}
	<!-- {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }} -->
	{{ if (.Site.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	<div class="page-meta-pagination border-top">
		{{with .NextInSection}}
			<a href="{{.Permalink }}" class="prev pl1" title="{{.Title }} ">
				Prev: {{.Title}}
			</a>
		{{end}}

		{{with .PrevInSection}}
			<a href="{{.Permalink }}" class="next pr1" title="{{.Title }}">
			Next: {{.Title}}
			</a>
		{{end}}
	</div>
	<div class="page-meta-pagination_word">
		这篇文档解决了您的问题吗？
		<div class="doc_fix_click" data-flag='1'>
			<img src="/images/icons/like.svg">
			<span>0</span>
		</div>
		<div class="doc_fix_click" data-flag='0'>
			<img src="/images/icons/Point-out.svg" >
			<span>0</span>
		</div>
		<input type="hidden" id="doc_fix_flag" value="0">
	</div>
</div>
<script src="/js/content.js"></script>