<div class="td-content">
	<div class="td-sidebar-section-title content-index">
		<img class="is-40x40" src="/images/icons/book-open.svg">
		<h3 class="doc_vice_title">{{ .CurrentSection.LinkTitle }}</h3>
		<a href="javascript:;" class="nav-trigger">&nbsp;<span aria-hidden="true"></span></a>
	</div>
	<div class="td-page-top">
		<h1>{{ .Title }}</h1>
		{{ partial "page-meta-actions.html" .}}
	</div>
	<div class="page-meta-lastmod text-muted ">{{ partial "page-meta-lastmod.html" . }}</div>

	<input type="hidden" id="content_console" value="1">
	<!-- {{ partial "page-meta-actions.html" .}} -->
	<!--{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}-->
	{{ with .Params.description }}<div class="lead"></div>{{ end }}
	{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
	{{ partial "reading-time.html" . }}
	{{ end }}

	{{with .Params.product}}
	<section class="product_dynamics">
		<div class="container  td-outer product_dynamics">
			<div class="">
				<ul class="timeline product_dynamics_ul" id="learn_content">
					{{ range . }}
					<li class="row">
						<div class="timeline-outer-line timeline-product"></div>
						<div class="col-sm-12 timeline-outer">
							<p>{{ .time }}</p>
							<h2 id="{{ .title }}">{{ .title }}</h2>
							<p class="product_dynamics_p">{{ .content | markdownify  }}</p>
							{{ if .url}}
							<a href="{{ .url }}">查看相关文档 <img src="/images/icons/black.svg"></a>
							{{ end }}
						</div>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</section>
	<script src="/js/product_news.js"></script>
	{{ end }}
	{{ .Content }}
	<!-- {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }} -->
	{{ if (.Site.DisqusShortname) }}
	<br />
	{{ partial "disqus-comment.html" . }}
	{{ end }}
	<div class="page-meta-pagination border-top">
		{{with .NextInSection}}
		<a href="{{.Permalink }}" class="prev pl1" title="{{.Title }} ">
			上一页: {{.Title}}
		</a>
		{{end}}

		{{with .PrevInSection}}
		<a href="{{.Permalink }}" class="next pr1" title="{{.Title }}">
			下一页: {{.Title}}
		</a>
		{{end}}
	</div>
	<div class="page-meta-pagination_word">
		这篇文档解决了您的问题吗？
		<div class="doc_fix_click fix-background-like" data-flag='1'>
			<span>0</span>
		</div>
		<div class="doc_fix_click fix-background-unlike" data-flag='0'>
			<span>0</span>
		</div>
		<input type="hidden" id="doc_fix_flag" value="0">
	</div>
</div>
<script src="/js/content.js"></script>
<script src="/js/viewer.min.js"></script>
<link rel="stylesheet" href="/css/viewer.min.css">
<script>
	var viewer = new Viewer(document.querySelector('.td-content'), {
		url: 'src'
	})
</script>